form {
    padding: 10px;
    margin: 10px;
    font-size: 12;
    font-weight: bold;
  
}
h1{
    background-color: blue;
    font-size: 14;
    color: white;
    padding: 20px
}
h2{
    background-color: blue;
    font-size: 12;
    font-weight:bold;
    padding:10px;
    color: white
}